@mixin div-main-grid-single-col() {
	display: grid;
	grid-template: {
		rows: [searchbar] 0fr [maincontent] 0fr [morecontent] 0fr [footer] 0fr;
		areas: 
		"searchbar searchbar"
		"maincontent maincontent"
		"morecontent morecontent"
		"footer footer";
		columns: [left] 10fr [right] 10fr;
	}
}