@mixin div-main-grid-single-col() {
	display: grid;
	grid-template: {
		rows: [searchbar] 0fr [maincontent] 8fr [morecontent] 1fr [footer] 1fr;
		areas: 
		"searchbar searchbar"
		"maincontent maincontent"
		"morecontent morecontent"
		"footer footer";
		columns: [left] 5fr [right] 5fr;
	}
	@include full-span();
}