@mixin div-main-grid-two-col() {
	display: grid;
	grid-template: {
		rows: [searchbar] 0fr [maincontent] 0fr [morecontent] 0fr [footer] 0fr;
		areas: 
		"maincontent-left searchbar"
		"maincontent-left maincontent"
		"maincontent-left morecontent"
		"footer footer";
		columns: [left] 1fr [right] 9fr;
	}
}