@mixin div-main-grid-two-col() {
	display: grid;
	grid-template: {
		rows: [maincontent] 8fr [morecontent] 1fr [footer] 1fr;
		areas: 
		"maincontent-left maincontent"
		"maincontent-left morecontent"
		"footer footer";
		columns: [left] 1fr [right] 9fr;
	}
	@include full-span();
}