@mixin full-span() {
	width:100%;
	height:100%;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      @if type_of($value)==string  {
        $value: str-replace($value, '-', ',');
        $value: str-replace($value, '_', ' ');
      } 
      #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    @if type_of($value)==string  {
      $value: str-replace($value, '-', ',');
      $value: str-replace($value, '_', ' ');
    }
    #{$property}: $value;
  }
}
html {
	overflow-x: hidden;
}
html, body {
	margin:0;
	padding:0;
	font: {
		family: 'Varela Round', sans-serif;
		size:14px;
	}
	@include full-span();
}
#app {
	margin:0 auto;
	max-width:1000px;
	min-width:260px;
	height:100%;
	&>div {
		@include full-span();
	}
}
a {
	cursor:pointer;
	color: #317795;
	&:link, &:visited {
	    text-decoration: none !important;
	    font-weight: normal;
	}

	&:hover, &:focus {
	    color: #23527c;
	}

}



@mixin div-main-grid() {
	display: grid;
	grid-template: {
		rows: [maincontent] 9fr [footer] 1fr;
		areas: 
		"maincontent-left maincontent"
		"footer footer";
		columns: [left] 1fr [right] 9fr;
	}
	@include full-span();
}

@mixin div-main-grid-single-col() {
	display: grid;
	grid-template: {
		rows: [maincontent] 9fr [footer] 1fr;
		areas: 
		"maincontent maincontent"
		"footer footer";
		columns: [left] 5fr [right] 5fr;
	}
	@include full-span();
}

@mixin div-header() {
	background-color:#B2B200;
	position: relative;
	color: white;
}

.div-loading {
	padding-top:10px;
	text-align: center;
}

.div-main {
	@include div-main-grid();
}

.div-maincontent-wrapper {
	align-self: start;
	margin: 10px;
	grid-area: maincontent;
}
.div-content-detail {
	width:100%;
	display: flex;
	flex-flow: row wrap;
}

.div-search-form {
	margin-bottom: 10px;
    flex: 1 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-self: start;
	&>input.search-box {
		flex-grow: 1;
		margin-right:2px;
	}
	&>input.submit-button {
		flex-shrink: 1;
	}
}

.div-user-block {
	text-align:center;
	&>.div-user-photo {
		font-size: 5em;
		line-height: 0.1em;
		padding: 10px;
	}
}

.div-main-menu {
	grid-area: maincontent-left;  
	background: #f1f1f1;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
	min-width: 150px;
	&>div {
		flex-shrink: 1;
	}

	&>.div-main-menu-menu {
		flex-grow: 1;
		padding:0 5px 5px 5px;
		&>button {
			width: 100%;
			margin-top:5px;
		}
	}

	&>.div-main-menu-logout {
		padding:5px;
		&>button {
			width: 100%;
		}
	}
}


.div-side-content-list,
.div-content-list {
	display: flex;
}

.div-content-list {
	flex-flow:wrap;
}

.div-side-content-list,
.div-content-video,
.div-content-list {
	position:relative;
	&>div>div {
		margin:0 0 10px 0;
	}

	&>div>div.title {
		font-size:0.9em;
		margin:0;
	}

	&>div>div.description {
		font-size:0.8em;
	}
}

.div-side-content-list {
	flex-direction:column;
	padding-left: 10px;
	flex: 1 20%;
}

.div-content-video {
	&>div>div>div.title {
		margin-top:10px;
		font-size:1.2em;
		font-weight: bold;
	}
}
.div-footer {
	grid-area: footer;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color:#f1f1f1;
	padding:25px;
	color:#888;
	&>div {
		margin:5px;
		flex-shrink:1;
	}
	&>div:last-child {
		text-align: right;
		flex-grow:1;
	}
}
.video-iframe {
	position:absolute;
}

.video-thumbnail>a>img {
	width:100%;
	max-width: 390px;
	cursor: pointer;
}

.video-thumbnail>a>img {
	width:100%;
	cursor: pointer;
}
.glyphicon {
	cursor: pointer;
}
a>.glyphicon {
	color:white;
}


.more-results-button,
.go-back-button,
.more-results-button-no-click {
	width: 100%!important;
	padding: 10px!important;
	background: #f1f1f1;
	border:1px solid #CCC;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
	color:black;

	&>.glyphicon {
		color:black;
	} 

	&:hover {
		border:1px solid #999;
		background: #f5f5f5;
	}

}

.more-results-button-no-click {
	&:hover {
		background: #f1f1f1;
		border:1px solid #f1f1f1;
	}
}

/*
	Large Tablets / Laptops
*/
@media (min-width:768px) and (max-width:991px) {
	.div-maincontent-wrapper {
		display:flex;
		flex-flow: row wrap;
	}
	.div-side-content-list {
		padding:10px 0;
		& .video-thumbnail {
			float:left;
			margin-right:10px;
		}
	}
	.div-content-list, 
	.div-content-video {
		flex: 1 100%;
		
		&>div>.video-thumbnail {
			float:left;
			margin-right:10px;
		}
	}
	.div-content-video {
		&>div>div {
			flex: 1 100%;
		}
	}
	.div-content-list {
		&>div {
			flex: 1 100%;
		}
	}
	.div-search-form {
		grid-area: searchbar;
	}

}
/*
	Laptops / Desktops
*/
@media (min-width:992px)  {
	.div-maincontent-wrapper {
		display:flex;
		flex-flow: row wrap;
	}
	.div-content-video,
	.div-content-list {
    	flex: 1 80%;
	}
	.div-content-video {
		&>div>div {
			flex: 1 100%;
		}
	}
	.div-content-list {
		&>div {
			padding: 0 5px;
			width: 33.3%;
		}
	}

	.div-search-form {
		grid-area: searchbar;
	}


}

/*
	Small Tablets
*/
@media (max-width:767px) {
	.div-main {
		@include div-main-grid-single-col();
	}
	.div-main-menu {
		grid-area: maincontent; 
		display:none;
	}

	.go-back-button {
		display:none;
	}
	
	.div-side-content-list {
		padding:10px 0;
		flex-direction:column;
    	flex: 1 100%;
		& .video-thumbnail {
			width: 40%;
			float:left;
			margin-right:10px;
		}
	}
	
	.div-content-video,
	.div-content-list {
    	flex: 1 100%;
		
		&>div {
			flex: 1 100%;
		}
		&>div>.video-thumbnail {
			width: 40%;
			float:left;
			margin-right:10px;
		}
	}

	.div-side-content-list,
	.div-content-video,
	.div-content-list {
		&>div>.title,
		&>div>.description {
			width: 55%;
			float:left;
		}
	}

	.div-main-menu {
		padding: 10px;
	}
}


/*
	Smartphones
*/
@media (max-width:390px) {
	.div-main {
		@include div-main-grid-single-col();
	}
	.div-main-menu {
		grid-area: maincontent; 
		display:none;
	}

	.div-side-content-list,
	.div-content-list {
		&>div>.video-thumbnail {
			width: 100%;
		}
	}

	.div-side-content-list,
	.div-content-video,
	.div-content-list {
		&>div>.title,
		&>div>.description {
			width: 100%;
		}
	}

}