
@import 'sassPartials/functions';
@import 'sassPartials/mixins';

@import 'sassPartials/grids/singleColGrid';
@import 'sassPartials/grids/twoColGrid';
@import 'sassPartials/grids/threeColGrid';

html {
	overflow-x: hidden;
}

html, body {
	margin:0;
	padding:0;
	font: {
		family: 'Varela Round', sans-serif;
		size:14px;
	}
	@include full-span();
}

#app {
	margin:0 auto;
	max-width:1000px;
	min-width:260px;
	&>div {
		@include full-span();
	}
}

a {
	cursor:pointer;
	color: #317795;
	&:link, &:visited {
	    text-decoration: none !important;
	    font-weight: normal;
	}

	&:hover, &:focus {
	    color: #23527c;
	}

}

.form--search-form {
	grid-area: searchbar;
    flex: 1 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-self: start;
	&>input.search-box {
		flex-grow: 1;
		margin-right:2px;
	}
	&>input.submit-button {
		flex-shrink: 1;
	}
}

.div--user-block {
	text-align:center;
	&>.div--user-photo {
		font-size: 5em;
		line-height: 0.1em;
		padding: 10px;
	}
}

.div--main-menu {
	grid-area: maincontent-left;  
	background: #f1f1f1;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
	min-width: 150px;
	&>div {
		flex-shrink: 1;
	}

	&>.div--main-menu-item-wrapper {
		flex-grow: 1;
		padding:0 5px 5px 5px;
		&>button {
			width: 100%;
			margin-top:5px;
		}
	}

	&>.div--main-menu-logout {
		padding:5px;
		&>button {
			width: 100%;
		}
	}
}

.div--video-list {
	&>.div--video-list-wrapper {
		align-self: start;
		grid-area: maincontent;
	}
}

.div--video-detail,
.div--video-list {
	&>.div--video-list-wrapper {
		position:relative;
		grid-area: maincontent-right;

		&>.div--video-wrapper-inner {
			display: flex;
			flex-flow:wrap;

			&>.div--video-inner-item {
				margin:0 0 10px 0;

				&>.div--video-title {
					font-size:0.9em;
					margin:0;
				}
				&>.div--video-description {
					font-size:0.8em;
				}
			}
		}
	}
}


.div--footer {
	grid-area: footer;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color:#f1f1f1;
	padding:25px;
	color:#888;
	&>div {
		margin:5px;
		flex-shrink:1;
	}
	&>div:last-child {
		text-align: right;
		flex-grow:1;
	}
}

.iframe--video {
	position:absolute;
}

.div--video-thumbnail>a>img {
	width:100%;
	max-width: 390px;
	cursor: pointer;
}


.glyphicon {
	cursor: pointer;
}
a>.glyphicon {
	color:white;
}

.div--more-results-button,
.div--go-back-button,
.div--more-results-button-no-click {
	width: 100%!important;
	padding: 10px!important;
	background: #f1f1f1;
	border:1px solid #CCC;
	text-align: center;
	cursor: pointer;
	color:black;

	&>.glyphicon {
		color:black;
	} 

	&:hover {
		border:1px solid #999;
		background: #f5f5f5;
	}

}

.div--more-results-button-no-click {
	&:hover {
		background: #f1f1f1;
		border:1px solid #f1f1f1;
	}
}

@import 'sassPartials/devices/commonScreens';
@import 'sassPartials/devices/smallLaptops';
@import 'sassPartials/devices/tablets';
@import 'sassPartials/devices/phablets';
@import 'sassPartials/devices/smartphones';