@media (min-width:992px)  {
	body {
		background:blue !important;
	}
	
	.div--video-list {
		&>.div--video-list-wrapper {
			grid-area: maincontent;
		}
	}

	.div--video-list {
		@include div-main-grid-two-col();
		&>.div--video-list-wrapper {
			&>.div--video-wrapper-inner { 
				&>.div--video-inner-item {
					width: 33.3%;
				}
			}
		}
	}

	.div--video-detail {
		@include div-main-grid-three-col();
		&>.div--video-list-wrapper {
			align-self: start;
			&>.div--video-wrapper-inner { 
				&>.div--video-inner-item {
					width: 100%;
				}
			}
		}
	}

}