
/*
	Fablets or really small tablets
*/
@media (min-width:390px) and (max-width:540px) {
	body {
		background:orange !important;
	}

	.div--video-list,
	.div--video-detail {
		@include div-main-grid-two-col();
	}

	.div--video-detail,
	.div--video-list {
		&>.div--video-list-wrapper {
			&>.div--video-wrapper-inner {
				&>.div--video-inner-item {
					width: 100%;
				}
			}
		}
	}

	.div--main-menu {
		padding: 10px;
	}

	.form--search-form {
		grid-area: searchbar;
	}

}

