@media (min-width:768px) and (max-width:991px) {
	body {
		background:green !important;
	}

	.div--item-detail {
		&>.div--item-list-wrapper {
			grid-area: morecontent;
		}
	}
	.div--item-list {
		&>.div--item-list-wrapper {
			grid-area: maincontent;
		}
	}

	.div--item-list,
	.div--item-detail {
		@include div-main-grid-two-col();
	}
	
	.div--item-detail,
	.div--item-list {
		&>.div--item-list-wrapper {
			&>.div--item-wrapper-inner { 
				&>.div--item-inner-item {
					width: 33.3%;
				}
			}
		}
	}

	.div--item-detail {
		&>.div--item-list-wrapper {
			align-self: start;
		}
	}

}