/*
	Smartphones
*/
@media (max-width:390px) {
	body {
		background:yellow !important;
	}

	.div--item-list,
	.div--item-detail {
		@include div-main-grid-single-col();
	}

	.div--main-menu,
	.div--item-wrapper {
		grid-area: maincontent;
	}

	.div--main-menu {
		display:none;
	}

	.div--item-detail,
	.div--item-list {
		&>.div--item-list-wrapper {
			grid-area: morecontent;
			&>.div--item-wrapper-inner {
				&>.div--item-inner-item {
					width: 100%;
				}
			}
		}
	}

}