@media (max-width:767px) {

	body {
		background:red !important;
	}

	.div--item-list,
	.div--item-detail {
		@include div-main-grid-two-col();
	}
	.div--item-detail {
		&>.div--item-list-wrapper {
			grid-area: morecontent;
		}
	}
	.div--item-list {
		&>.div--item-list-wrapper {
			grid-area: maincontent;
		}
	}

	.div--item-detail,
	.div--item-list {
		&>.div--item-list-wrapper {
			&>.div--item-wrapper-inner {
				&>.div--item-inner-item {
					width: 50%;
				}
			}
		}
	}

	.div--main-menu {
		padding: 10px;
	}

}
